body {
  width: 100%;
  height: 100%;
  text-align: center;
  background: grey;
}

.App {
  text-align: center;
}

.items {
  padding: 25px;
}

.item {
  width: 200px;
  height: 100px;
  padding: 50px;
  position: absolute;
  border-radius: 5px;
  background: blue;
  cursor: grab;
  text-align: center;
}

.item:active {
  background: lightblue;
  cursor: grabbing;
}